<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ImageManagement</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/image_management?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>RenatoJonathan</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter> 
     	<filter-name>DisableCache</filter-name>
      	<filter-class>it.polimi.tiw.filters.DisableCache</filter-class> 
 	</filter>
  	<filter> 
     	<filter-name>UserChecker</filter-name>
      	<filter-class>it.polimi.tiw.filters.UserChecker</filter-class> 
 	</filter>
 	<filter-mapping>
		 <filter-name>DisableCache</filter-name>
		 <url-pattern>/home.html</url-pattern>
	 </filter-mapping>
 	<filter-mapping> 
    	<filter-name>UserChecker</filter-name> 
    	<url-pattern>/ChangeNameCategory</url-pattern>
    	<url-pattern>/CheckLogout</url-pattern>
    	<url-pattern>/CopySubTree</url-pattern>
    	<url-pattern>/CreateCategory</url-pattern>
    	<url-pattern>/GetAllCategories</url-pattern>
    	<url-pattern>/GetTopCategories</url-pattern>
    	<url-pattern>/home.html</url-pattern>
 	</filter-mapping>
	<welcome-file-list>
    	<welcome-file>/index.html</welcome-file>
  	</welcome-file-list>
 	<error-page>
    	<location>/WEB-INF/default_error.html</location>
	</error-page>
</web-app>