<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ImageManagement</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/image_management?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>RenatoJonathan</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<welcome-file-list>
    	<welcome-file>GoToIndex</welcome-file>
  	</welcome-file-list>
  	<filter> 
     	<filter-name>UserChecker</filter-name>
      	<filter-class>it.polimi.tiw.filters.UserChecker</filter-class> 
 	</filter>
 	<filter> 
     	<filter-name>ErrorChecker</filter-name>
      	<filter-class>it.polimi.tiw.filters.ErrorChecker</filter-class> 
 	</filter>
 	<filter-mapping> 
    	<filter-name>UserChecker</filter-name> 
    	<url-pattern>/CheckLogout</url-pattern>
    	<url-pattern>/CopySubTree</url-pattern>
    	<url-pattern>/CreateCategory</url-pattern>
    	<url-pattern>/GoToErrorPage</url-pattern>
    	<url-pattern>/GoToHomePage</url-pattern>
    	<url-pattern>/SelectSubtreeToCopy</url-pattern>
 	</filter-mapping> 
 	<filter-mapping> 
    	<filter-name>ErrorChecker</filter-name> 
    	<url-pattern>/GoToErrorPage</url-pattern>
 	</filter-mapping> 
 	<error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/status_code_errors/error404.html</location>
	</error-page>
	<error-page>
    	<location>/WEB-INF/status_code_errors/default_error.html</location>
	</error-page>
</web-app>